<html>


<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

<%= csrf_meta_tags %>


 
 <body>
     
     

 <%= render 'layouts/navigation' %>
<h3 align="center">Contact US</h3>
<br>

<P align="center">
Philadelphia University City Hotel
3549 Chestnut Street, Philadelphia, <br>
Pennsylvania 19104
Phone: 215-387-8000   |   Fax: 215-387-7920<br>
Email: hotel_reservation_system@example.com
https://hotel1-faris14.c9users.io<br>
Rated: 4.7 out of 5 Based on 12 Reviews</P>




</body>

</html>
 