<html>


<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

<%= csrf_meta_tags %>


 
 <body>
     
     

 <%= render 'layouts/navigation' %>
<h3 align="center">Contact US</h3>
<br>

<address align="center">
  <strong>Hotel, Inc.</strong><br>
  1355 Market Street, Suite 900<br>
  San Francisco, CA 94103<br>
  <abbr title="Phone">P:</abbr> (123) 456-7890
</address>

<address align="center">
  <strong>Hotel</strong><br>
  <a href="mailto:#">Hotel@example.com</a>
</address>




</body>

</html>
 